<!DOCTYPE html>
<html>
<head>
  <title>Personality Test</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<header>

  <section class="navsection">
    <div class="logo">
      <img src="logo.png" style="width:350px;height:280px;">
    </div>
    <nav>
      <a href="youmustknow.html">YOU MUST KNOW</a>
      <a href="prevantionandcure.html">PREVENTION & CURE</a>
      <a href="cancersurvivor.html">CANCER SURVIVOR</a>
      <a href="aboutus.html">ABOUT US</a>

      


    </nav>



    
  </section>

  <main>
    <div class="leftside">

    <h1>Early Detection Save Lives</h1>
   <p> Awareness | Prevention | Support | Treatment </p>

   <a  type="button" href="quiz.html" class="btn1">TAKE TEST</a>


    </div>

    <div class="rightside">
      <img src="cancer2new.jpg">
    </div>

  

  </main>

</header>
</body>
</html>