<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="prevantionandcure.css">
  <title>cancer survivors</title>
</head>
<body>

	<section class="course">
		<h1>cancer survivor stories</h1>
		<p>The stories from where you will get inspired</p>

		<div class="row">
			<div class="course-col">
				<h3>Tahira Kashyap</h3>
				<p>Writer-director and Bollywood actor Ayushmann Khurrana's wife Tahira Kashyap has documented her journey battling cancer on social media. Adding to her experience, the actor's wife wrote, ''But there is a deep sense of acceptance when it comes to the life cycle of this creature. Taking a 'leaf' from this caterpillar's life, I feel I have undergone a tremendous change mentally and physically too.From running to get a cap and placing it on my head when I was losing my hair and had a bald patch to proudly introducing me to his friends when I was bald or now with short hair, I feel I am a part of a change," she added.</p>
				
			</div>

			<div class="course-col">
				<h3>Barbara Modi</h3>
				<p>The Mexican beauty who rose to fame with her debut movie, Kites is a cancer survivor. She was detected with breast cancer when she was 29. The disease was cured completely because of an early detection. Since then, she has been continuously working on spreading cancer awareness. She also participated in a documentary titled, “1-a-minute” that revolves around breast cancer.</p>
				
			</div>


			<div class="course-col">
				<h3>Post graduation</h3>
				<p>noun. a direction or route taken or to be taken. the path, route, or channel along which anything moves: the course of a stream. advance or progression in a particular direction; forward or onward movement. ... a program of instruction, as in a college or university: a course in economics.</p>
				
			</div>
		</div>
	</section>
	











</body>
</html>